.service-Container {
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
   padding: 20px;
   align-items: center;
   justify-content: center;

}

.card-Container {
    color: #003656;
    box-shadow: 0px 4px 4px 4px #0036564d;
    width: 250px;
    height: auto;
    border-radius: 16px;
    margin: 24px;
    padding: 20px;
    text-align: center;
   object-fit: contain;
}



.card-container-Title{
    font-size: 20px;
    font-weight: bold;
    color: #003656;
    text-align: center;
    margin: 8px;
}


.card-Container img {
    width: 70%;
    height: 40%;
    object-fit: contain;
}

.card-Container p {
    font-size: 16px;
}

.card-Container .requisitos {
    font-size: 12px ;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    background: #003656;

    border-radius: 12px;
    padding: 10px;
}

.card-Container:hover {
    transform: translateY(-15px) scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    background: #0254841b;
    box-shadow: 0px 2px 2px 2px #00263bdd;
    font-weight: bolder;
   
}

.card-Container  {
    transform: translateY(0px) scale(1);
    transition: transform 0.5s ease-in-out;

}

