/* Estilos para el botón de contacto */
.contact-button-form{
    width: 200px;
    height: 64px;
    font-size: 16px;
    font-weight: 600;
    background:#FED007 ;
    color: #003656;
    margin: 10px;
    border: none;
    border-radius: 12px;
    box-shadow: 2px 3px 2px  #100d00b4;
    cursor: pointer; /* Hace que el cursor cambie a una mano al pasar sobre el botón */
    transition: background 0.3s, color 0.3s; /* Agrega una transición suave al cambio de color */
}

.contact-button-form:hover {
    background: green ;
    color: #ffffff;
    box-shadow: 2px 3px 2px  #100d00b4;
}

@media screen and (max-width: 767px) {
 /* Estilos para el botón de contacto */
 .contact-button-form {
     
    width: auto;
    height: 36px;
    font-size: 12px;
    font-weight: 600;
    background:#FED007 ;
    color: #003656;
    text-align: center;
    padding: 12px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 3px 2px  #100d00b4;
    cursor: pointer; /* Hace que el cursor cambie a una mano al pasar sobre el botón */
    transition: background 0.3s, color 0.3s; /* Agrega una transición suave al cambio de color */
}

.contact-button-form:hover {
    background: green ;
    color: #ffffff;
    box-shadow: 2px 3px 2px  #100d00b4;
}

}
@media (min-width: 768px) and (max-width: 991px) {
 /* Estilos para el botón de contacto */
 .contact-button-form {
     
    width: auto;
    height: 36px;
    font-size: 12px;
    font-weight: 600;
    background:#FED007 ;
    color: #003656;
    text-align: center;
    padding: 12px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 3px 2px  #100d00b4;
    cursor: pointer; /* Hace que el cursor cambie a una mano al pasar sobre el botón */
    transition: background 0.3s, color 0.3s; /* Agrega una transición suave al cambio de color */
}

.contact-button-form:hover {
    background: green ;
    color: #ffffff;
    box-shadow: 2px 3px 2px  #100d00b4;
}
}