.Question-Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Question-Title {
    font-weight: bold;
    color: #003656;
}
.question-Text {
    color: #003656;
}
.questions-Container {
    width: auto;
    padding: 20px 100px;
    justify-content: center;
    align-items: center;
    color: #003656;
   
 
}
.text-container {
    width: 80%;
    padding: 0 60px 0 80px;
}

.question {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background: #003656;
    color: aliceblue;
    border-radius: 12px;
    padding: 16px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-column: 1/1;
 
}
.answer {
    margin-left: 30px;
    width: 89%;
    padding: 0 0 40px 20px;
    align-items: center;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  
}
.arrowDown,
.arrowUp {
    padding-right: 20px;
    font-size: 24px;
    align-items: center;
    text-align: center;
}

.questionImg {
    align-items: center;
}

.checkIcon {
    padding-right: 10px;
}