 
  @media only screen and (min-width: 992px)  {
    /* Estilos para la sección de servicios */
    .apply-container {
        width: auto;
        height: 250px;
        padding: 70px;
        margin: 24px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        justify-content: center;
    
    
    }
    .ServiceProcess-Title {
        color: #003656;
    }
    /* Estilos para las tarjetas de servicios */
    .apply-card {
        background: #003656;
        color: white;
        width: 70%;
        height: 250px;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0px 4px 4px 0px rgba(7, 7, 7, 0.63);
       
    }
    
    .apply-card:hover {
        transform: translateY(-15px) scale(1.2);
        transition: transform 0.3s ease-in-out;
        background: green;
    
    }
    
    .apply-card {
        transform: translateY(0px) scale(1);
        transition: transform 0.5s ease-in-out;
    }
    /* Estilos para el título de las tarjetas de servicios */
    .apply-Title {
        color: white;
    }
    
    /* Estilos para el texto de las tarjetas de servicios */
    .apply-card p {
        font-size: 18px;
    }
    
    /* Define un conjunto de reglas de animación usando @keyframes */
    @keyframes slideInLeft {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        to {
            transform: translateX(1);
        }
    }
    }
    /* Medidas para pantallas pequeñas */
    @media screen and (max-width: 767px),  (min-width: 768px) and (max-width: 991px) {
        /* Estilos para la sección de servicios */
    .apply-container {
        width: auto;
        height: auto;
        padding:  0 70px;
        margin: 24px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    
    
    }
    .ServiceProcess-Title {
        color: #003656;
        font-size: 30px;
        padding-bottom: 20px;
    }
    /* Estilos para las tarjetas de servicios */
    .apply-card {
        background: #003656;
        color: white;
        width: 80%;
        height: auto;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 0px 4px 4px 0px rgba(7, 7, 7, 0.63);
       
    }
    
    .apply-card:hover {
        transform: translateY(-15px) scale(1.2);
        transition: transform 0.3s ease-in-out;
        background: green;
    
    }
    
    .apply-card {
        transform: translateY(0px) scale(1);
        transition: transform 0.5s ease-in-out;
    }
    /* Estilos para el título de las tarjetas de servicios */
    .apply-Title {
        color: white;
        font-size: 20px;
    
    }
    
    /* Estilos para el texto de las tarjetas de servicios */
    .apply-card p {
        font-size: 14px;
    }
    
    /* Define un conjunto de reglas de animación usando @keyframes */
    @keyframes slideInLeft {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }
        to {
            transform: translateX(1);
        }
    }
    
    }
    