

/* Estilos para el footer */

.container-footer {
    background: #003656;
    color: aliceblue;
    width: auto;
    height: 100px;
    display: grid;
    grid-template-columns: 35% 40% 25%;
    box-shadow: 4px 4px 4px 4px rgb(3, 31, 73);
    text-align: center;
    align-items: center;
    padding: 40px 70px 40px 80px;
}

.title-Footer-container {

    color: aliceblue;
    border-right: solid #fcfcfcce;
    height: 100px;
    width: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;

}
.title-Footer-container h1 {
    font-size: 24px;
    color: rgb(240, 248, 255);
    margin: 0;
   
}

.socialMedia-Title{
    text-align: center;
    font-size: 14px;
    color: rgba(240, 248, 255, 0.664);
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
.socialMedia-Container {
  
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.socialMedia-Icon {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 12px ;
}
#instagram, 
#mail {
    width: 25px;
    height: auto;
    gap: 12px;
    object-fit: contain;
    padding-bottom: 12px;
    cursor: pointer;
}

#instagram:hover, 
#mail:hover {
    color: yellow;
}
.sign {
    font-size: 12px;
    align-items: end;
    color: rgba(240, 248, 255, 0.726);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
