@media only screen and (min-width: 992px)   {
  /* Bannner  */

     
     .banner-Container{
        width: auto;
        height: auto;
        background: #003656 ;
        padding: 80px;
        animation: animacionAparicionIzquierda 1s ease-out;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
          
     }
    
    .textBanner-Container{
        font-size: 20px;
        background: rgb(255, 255, 186);
        margin-right: 80px;
        color:  #003656;
        border-radius: 12px;
        padding: 24px;
        width: auto;
        height: auto;
        font-weight: 600;
        
    }
     .banner-img {
        width: 20%;
        height: 20%;
     }
     @keyframes animacionAparicionIzquierda {
         0% {
             opacity: 0;
             transform: translateX(-50px);
         }
         100% {
             opacity: 1;
             transform: translateX(0);
         }
     }
    }